:root, html[data-theme="dark"] {
    --green: rgb(0, 251, 180);
    --dark-blue: #123;
    --white: #FFF;
    --light-blue: rgb(0, 162, 255);
    --red: red;
    --black: rgb(10, 10, 10);
    --trans-black: rgba(0, 0, 0, 0.52);
    --bg-image:  url(/images/devices.jpg);
}

html[data-theme="light"] {
    --green: rgb(2, 197, 227);
    --dark-blue: #e2e2e2;
    --white: rgb(30, 30, 30);
    --light-blue: rgb(0, 49, 78);
    --red: red;
    --black: rgb(219, 219, 219);
    --trans-black: rgba(0, 0, 0, 0.52);
    --bg-image: url(/images/laptop.jpg);
}





body, html {
    margin: 0;
    padding: 0;
    background: var(--dark-blue);
    color: var(--white);
}

a {
    text-decoration: none;
    color: unset;
}

a:visited {
    color: unset;
    text-decoration: none;
}
* {
    box-sizing: border-box;
    font-family: Poppins;
    background-position: center;
    /* transition: 3s; */
}

header h1 {

}
i {
    font-size: 30px;
    padding: 0 10px;
    transition: .3s;
}

.gradient {
    margin-top: 10rem;}

nav {
    /* background: var(--green); */
    z-index: 100;
    padding: 1rem 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;
    font-size: 20px;
    transition: .4s;
}

.mobile--menu {
    display: none;
}

button {
    cursor: pointer;
}

nav button {
    padding: .5rem 1rem;
    font-size: 16px;
    color: var(--white);
    border: 3px solid var(--white);
    background: transparent;
    border-radius: 25px;
}

button i {
    font-size: inherit;
    
}

.home button {
    padding: .5rem 1rem;
    font-size: 16px;
    color: var(--white);
    border: 3px solid var(--white);
    background: transparent;
    border-radius: 25px;
    transition: .3s;
}

.home button:hover {
    border-color: var(--light-blue);
    color: var(--light-blue);
}

#change {
    border: none;
    padding: 0;
    text-decoration: underline;
    /* color:rgb(0, 210, 151); */
}
.home button:hover i{
    transform: translateX(10px);
}

.dpcontent ul li {
    display: block;
    margin-left: -40px;
}

.dropdown {
    position: relative;
}

.dropdown:hover ul li {
    overflow: visible;
}

.dpcontent {
    display: none;
    position: absolute;
    top: 30px;
    left: -10px;
    background: var(--green);
    z-index: 10000;
}

.dropdown:hover .dpcontent {
    display: block;

    /* transform: translateY(100px); */
}

.links>ul>li {
    list-style-type: none;
    display: inline-block;
    padding: 0.5rem 1rem;
    /* background-color: black; */
    margin: 0;
    position: relative;
    border-radius: 25px;
    overflow: hidden;
    transform-origin: center;
}

ul li::after {
    content: "";
    position: absolute;
    top: 100%;
    width: 100%;
    height: 0;
    background-color: var(--green);
    transition: .4s;
    left: 0;
    display: flex;
    align-items: flex-end;
    z-index: -1;

    /* transform: rotate(180deg); */
}

ul li:hover::after {
    height: 100%;
    transform: translateY(-100%);
}
 
nav img {
    width: 40px;
    font-size: 1.5rem;
}

.products--des {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    /* font-size: 20px; */
}
.para1 {
    font-size: 20px;
    width: 30%;
}

.home {
    display: grid;
    place-items: center;
    width: 100%;
    background-image:  var(--bg-image);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    clip-path: polygon(100% 0%, 0% 0% , 0.00% 220.00%, 2.50% 219.58%, 5.00% 218.36%, 7.50% 216.36%, 10.00% 213.69%, 12.50% 210.45%, 15.00% 206.77%, 17.50% 202.82%, 20.00% 198.74%, 22.50% 194.72%, 25.00% 190.92%, 27.50% 187.50%, 30.00% 184.59%, 32.50% 182.32%, 35.00% 180.79%, 37.50% 180.06%, 40.00% 180.16%, 42.50% 181.08%, 45.00% 182.79%, 47.50% 185.21%, 50.00% 188.24%, 52.50% 191.77%, 55.00% 195.64%, 57.50% 199.69%, 60.00% 203.75%, 62.50% 207.65%, 65.00% 211.24%, 67.50% 214.36%, 70.00% 216.89%, 72.50% 218.71%, 75.00% 219.75%, 77.50% 219.98%, 80.00% 219.37%, 82.50% 217.96%, 85.00% 215.80%, 87.50% 212.99%, 90.00% 209.64%, 92.50% 205.88%, 95.00% 201.88%, 97.50% 197.81%, 100.00% 193.82%);
}

.home div {
    max-width: 600px;
    text-align: center;
    /* font-size: 20px; */
}

.container {
    max-width: 1240px;
    margin: auto;
    padding: 1rem;
}

/* section {
    background-color: aquamarine;
}
h2 {
    background-color: aliceblue;
} */


.services {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.service {
    width: 300px;
    text-align: center;
    padding: 1rem;
transition: .3s;
}

.service:hover {
    box-shadow: 0 0 10px var(--green);
    /* transform: scale(1.03); */
}

.service:hover span i {
    transform: scale(1.5);
}

span i {
    color: var(--green);
    transition: .4s;
}
h2,h3 {
    text-align: center;
}

.productIcons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}

footer {
    background:var(--green);
    text-align: center;
}

.flex{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    /* align-items: center; */
}

.hea{
    text-align: left;
}

.contact-group h2 {
    margin: 0;
}

form {
padding: 1rem;
border-radius: 1rem;
background: var(--green);
color: var(--white);
width: 50%;

}

.form-container{
padding: 1rem;
}

section.content {
max-width: 40%;
}
.contact-us {
justify-content: space-between;
flex-wrap: wrap;
padding: 3rem 2rem;
width: 100%;
align-items: center;
}

h1 {
/* font-size: 3rem; */
}

.contact-us p {
color: var(--white);
}

.contact-group {
align-items: center;
justify-content: flex-start;
flex-wrap: nowrap;
}

.contact-group i {
font-size: 2rem;
padding-right: 20px;
}

#message{
flex: 2;
}
.field {
margin-bottom: 10px;
}

.field label {
display: block;
font-size: 1.2rem;;
color: var(--white);
font-weight: 500;
}

.field label::after{
content: "*";
color: var(--red);
font-weight: 400;
margin-left: 5px;
}

.field input {
/* display: block; */
border:none;
/* border-bottom: 2px solid purple; */
outline: none;
color: var(--black);
width: 100%;
line-height: 1.5;
font-size: 1rem;
background: var(--white);
border-radius: 5px;
background-clip: text;
padding: 10px;
}

textarea{
    background: var(--white);
    /* color: white; */
    padding: 10px;
    line-height: 1.5;
    font-size: 1rem;
    outline: none;
    width: 100%;
    height: 120px;
    resize: none;
}

input[type="submit"] {
display: block;
padding: 6px 30px;
font-size: 14px;
background-color: var(--green);
color: #fff;
border: none
}

#button{
    padding: 10px;
    border-radius: 4px;
    background-color: var(--green);
    color: white;
    width: 100%;
    text-align: center;
    border: none;
    transition: .3s;
    font-size: large;
    /* margin: 0 auto; */

}

#button:hover {
    background-color: var(--green);
}


#about{
    width: 100%;
    background-image:
    linear-gradient(135deg, var(--trans-black), var(--trans-black)),
    url('images/aboutus.webp');
    height: 80vh;
    display: grid;
    place-items: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products {
    width: 100%;
    background-image:
    linear-gradient(135deg, var(--trans-black), var(--trans-black)),
    url('images/gadgetspic.jpeg');
    height: 80vh;
    display: grid;
    place-items: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* PRODUCTS PAGE STYLES */

.offersContainer {
    DISPLAY: FLEX;
    flex-wrap : wrap;
    justify-content: space-around;
    position: relative;
}

.offersContainer img {
    border-radius: 20px;
}

.fa-angle-down {
    font-size: 1rem;
}
.offersContainer h3 {
    /* color:var(--green); */
    text-transform: uppercase;
    background:var(--light-blue);
    /* box-shadow: 0 0 10px black inset; */
    cursor: pointer;
    padding: 10px;
}
.product--offers {
    display: none;
    top: 68px;
    position: absolute;
    background:var(--light-blue);
    z-index: 100;
}

.offers:hover .product--offers {
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

.offers h4 {
    text-align: center;
    margin-bottom: 20px;
    text-decoration: underline;;
}

.founder {
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: 1rem;
    align-items: center;
    margin-bottom: 2rem;
}

@media screen and (max-width: 1000px) {
    body {
        /* color: red; */
    }

    .links.show {
        display: block;
    }

    .links ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0;
        width: 100%;
        background: var(--green);
        top: 100%;
        margin: 0;
        padding: 0;
        height: 100vh;
        z-index: 1000;
        transition: .5s;


    }

    .links {
        display: none;
        left: -100%;
    }

    .mobile--menu {
        display: block;
    }

    nav {
        padding: 1rem;
        background-color: var(--green)!important;
    }

    header h1 {
        font-size: 1rem;
        padding: 2rem;
    }

    .products--des {
        flex-direction: column-reverse;
        text-align: center;

    }

    .products h1, #about h1 {
        font-size: 30px;;
    }

    .para1 {
        width: 100%;
        padding: 1rem;

    }

    .founder {
        flex-direction: column;
        text-align: center;;
    }

    .flex {
        flex-direction: column;
    }

    section.content {
        max-width: 100%;
        padding: 1rem;;
    }

    .contact-us {
        padding: 3rem 0;
        text-align: center;
    }

    .gradient {
        margin-top: 2rem;
    }

    .hea {
        text-align: center;;
    }

    form {
        width: 100vw;
        border-radius: 0;
    }

}