:root {
    --main: rgb(0, 5, 107);
    --secondary: rgb(4, 121, 199);
    --main-text: rgb(255, 255, 255);
    --second-text: #FFF;
    --red: red;
    --black: rgb(10, 10, 10);
    --trans-black: rgba(0, 0, 0, 0.52);
    --head-text: rgb(238, 238, 238);
}

/* html[data-theme="light"] {
    --secondary: rgb(146, 51, 255);
    --main: #ececec;
    --main-text: rgb(30, 30, 30);
    --second-text: rgb(0, 0, 0);
    --red: red;
    --black: rgb(219, 219, 219);
    --trans-black: rgba(0, 0, 0, 0.52);
    --bg-image: url(/images/bgimage.png);
    --head-text: rgb(31, 31, 31);

} */




body, html {
    margin: 0;
    padding: 0;
    background: var(--main);
    color: var(--main-text);
}

a {
    text-decoration: none;
    color: unset;
}

a:visited {
    color: unset;
    text-decoration: none;
}
* {
    box-sizing: border-box;
    font-family: Poppins,'Arial Narrow Bold', sans-serif;
    background-position: center;
    /* transition: 3s; */
}


i {
    font-size: 30px;
    padding: 0 10px;
    transition: .3s;
}

.gradient {
    margin-top: 10rem;}

nav {
    z-index: 100;
    padding: 1rem 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;
    font-size: 20px;
    transition: .4s;
    color: var(--second-text);
}

.mobile--menu {
    display: none;
}

button {
    cursor: pointer;
}

nav button {
    padding: .5rem 1rem;
    font-size: 16px;
    color: var(--second-text);
    border: 3px solid var(--second-text);
    background: transparent;
    border-radius: 25px;
}


nav img {
    padding: 5px;
    border: 2px solid rgb(255, 255, 255);
    box-sizing: content-box;
    border-radius: 10px;
}

button i {
    font-size: inherit;
    
}

.home  {
    display: flex;
    gap: 3rem;
    justify-content: center;
    gap: 3REM;
    text-align: left;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, #123, rgb(0, 5, 107), rgb(0, 93, 163))
}

.home button {
    padding: .5rem 1rem;
    font-size: 16px;
    color: var(--main-text);
    border: 3px solid var(--main-text);
    background: transparent;
    border-radius: 25px;
    transition: .3s;
}

.home button:hover {
    border-color: var(--secondary);
    color: var(--secondary);
}

#change {
    border: none;
    padding: 0;
    text-decoration: underline;
    color: inherit;
}
.home button:hover i{
    transform: translateX(10px);
}

.dpcontent ul li {
    display: block;
    margin-left: -40px;
}

.dropdown {
    position: relative;
}

.dropdown:hover ul li {
    overflow: visible;
}

.dpcontent {
    display: none;
    position: absolute;
    top: 30px;
    left: -10px;
    background: var(--secondary);
    z-index: 10000;
}

.dropdown:hover .dpcontent {
    display: block;

    /* transform: translateY(100px); */
}

.links>ul>li {
    list-style-type: none;
    display: inline-block;
    padding: 0.5rem 1rem;
    /* background-color: black; */
    margin: 0;
    position: relative;
    border-radius: 25px;
    overflow: hidden;
    transform-origin: center;
}

ul li::after {
    content: "";
    position: absolute;
    top: 100%;
    width: 100%;
    height: 0;
    background-color: var(--secondary);
    transition: .4s;
    left: 0;
    display: flex;
    align-items: flex-end;
    z-index: -1;

    /* transform: rotate(180deg); */
}

ul li:hover::after {
    height: 100%;
    transform: translateY(-100%);
}
 
nav img {
    width: 40px;
    font-size: 1.5rem;
}

.products--des {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    /* font-size: 20px; */
}
.para1 {
    font-size: 20px;
    width: 30%;
}

.home h1 {
    font-size: 35px;
}

.home div {
    max-width: 600px;
    /* font-size: 20px; */
}

.home div span {
    color: transparent;
    background: linear-gradient(135deg, rgb(255, 58, 58),  rgb(119, 0, 255));
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 400% 400%;
    font-weight: inherit;
    animation: 5s gradient linear infinite;
}

@keyframes gradient {
    0%,100% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
}

.home h2 {
    font-size: 1rem;
    font-weight: 400;
    color: var(--head-text);
}

.container {
    max-width: 1240px;
    margin: auto;
    padding: 1rem;
}

/* section {
    background-color: aquamarine;
}
h2 {
    background-color: aliceblue;
} */


.services {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.service {
    width: 300px;
    text-align: center;
    padding: 1rem;
transition: .3s;
}

.service p {
    color: lightgray;
}

.service h3 {
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.service:hover {
    box-shadow: 0 0 10px var(--secondary);
    /* transform: scale(1.03); */
}

.service:hover span i {
    transform: scale(1.5);
}

span i {
    color: var(--secondary);
    transition: .4s;
}
main h2, main h3 {
    text-align: center;
}

.productIcons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}

.productIcons h3 {
    font-weight: 400;
    text-transform: capitalize;
}

footer {
    background:var(--secondary);
    text-align: center;
}

.flex{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    /* align-items: center; */
}

.hea{
    text-align: left;
}

.contact-group h2 {
    margin: 0;
}

form {
padding: 1rem;
border-radius: 1rem;
background: var(--secondary);
color: var(--main-text);
width: 50%;

}

.form-container{
padding: 1rem;
}

section.content {
max-width: 40%;
}
.contact-us {
justify-content: space-between;
flex-wrap: wrap;
padding: 3rem 2rem;
width: 100%;
align-items: center;
}

h1 {
    color: var(--second-text);
}

.contact-us p {
color: var(--main-text);
}

.contact-group {
align-items: center;
justify-content: flex-start;
flex-wrap: nowrap;
}

.contact-group i {
font-size: 2rem;
padding-right: 20px;
}

#message{
flex: 2;
}
.field {
margin-bottom: 10px;
}

.field label {
display: block;
font-size: 1.2rem;;
color: var(--main-text);
font-weight: 500;
}

.field label::after{
content: "*";
color: var(--red);
font-weight: 400;
margin-left: 5px;
}

.field input {
/* display: block; */
border:none;
/* border-bottom: 2px solid purple; */
outline: none;
color: var(--black);
width: 100%;
line-height: 1.5;
font-size: 1rem;
background: var(--main-text);
border-radius: 5px;
/* background-clip: text; */
padding: 10px;
}

textarea{
    background: var(--main-text);
    /* color: white; */
    padding: 10px;
    line-height: 1.5;
    font-size: 1rem;
    outline: none;
    width: 100%;
    height: 120px;
    resize: none;
}

input[type="submit"] {
display: block;
padding: 6px 30px;
font-size: 14px;
background-color: var(--secondary);
color: #fff;
border: none
}

#button{
    padding: 10px;
    border-radius: 4px;
    background-color: var(--secondary);
    color: white;
    width: 100%;
    text-align: center;
    border: none;
    transition: .3s;
    font-size: large;
    /* margin: 0 auto; */

}

#button:hover {
    background-color: var(--secondary);
}


#about{
    width: 100%;
    background-image:
    linear-gradient(135deg, var(--trans-black), var(--trans-black)),
    url('images/aboutus.webp');
    height: 80vh;
    display: grid;
    place-items: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products {
    width: 100%;
    background-image:
    linear-gradient(135deg, var(--trans-black), var(--trans-black)),
    url('images/gadgetspic.jpeg');
    height: 80vh;
    display: grid;
    place-items: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* PRODUCTS PAGE STYLES */

.offersContainer {
    DISPLAY: FLEX;
    flex-wrap : wrap;
    justify-content: space-around;
    position: relative;
}

.offersContainer img {
    border-radius: 20px;
}

.fa-angle-down {
    font-size: 1rem;
}
.offersContainer h3 {
    /* color:var(--secondary); */
    text-transform: uppercase;
    background:var(--secondary);
    /* box-shadow: 0 0 10px black inset; */
    cursor: pointer;
    padding: 10px;
}
.product--offers {
    display: none;
    top: 68px;
    position: absolute;
    background:var(--secondary);
    z-index: 100;
}

.offers:hover .product--offers {
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

.offers h4 {
    text-align: center;
    margin-bottom: 20px;
    text-decoration: underline;;
}

.founder {
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: 1rem;
    align-items: center;
    margin-bottom: 2rem;
}

@media screen and (max-width: 1000px) {
    body {
        /* color: red; */

    }

    .home {
        padding: 1rem;
        text-align: center;
    }

    .home h2 {
        line-height: 30px;
    }

    .home img {
        display: none;
    }

    .links.show {
        display: block;
    }

    .links ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0;
        width: 100%;
        background: var(--secondary);
        top: 100%;
        margin: 0;
        padding: 0;
        height: 100vh;
        z-index: 1000;
        transition: .5s;


    }

    .links {
        display: none;
        left: -100%;
    }

    .mobile--menu {
        display: block;
    }

    nav {
        padding: 1rem;
        background-color: var(--secondary)!important;
    }

    header {
        height: 60vh;
    }

    header h1 {
        font-size: 1rem;
        padding: 2rem;
    }

    .products, #about{
        height: 60vh;
    }

    

    .products--des {
        flex-direction: column-reverse;
        text-align: center;

    }

    .products h1, #about h1 {
        font-size: 30px;;
    }

    .para1 {
        width: 100%;
        padding: 1rem;

    }

    .founder {
        flex-direction: column;
        text-align: center;;
    }

    .flex {
        flex-direction: column;
    }

    section.content {
        max-width: 100%;
        padding: 1rem;;
    }

    .contact-us {
        padding: 3rem 0;
        text-align: center;
    }

    .gradient {
        margin-top: 2rem;
    }

    .hea {
        text-align: center;;
    }

    form {
        width: 100vw;
        border-radius: 0;
    }

}